@font-face{
	font-family: myfont;
	src : url(AmaticSC-Bold.ttf);
}
.main{
	box-sizing: border-box;
	background-color: white;
	height: 880px;
	width: 700px;
	border: none;
	margin-top: 15px;
	margin-left: 270px;
	justify-content: center;
	box-shadow: 0 0 33px rgba(100,100,100,10000);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #00CDCD
	/*background-image: url(bash2.jpg);*/
}
.ballon .img1{
	height: 350px;
	width: 250px;
	padding-top: 130px;
	margin-left: 230px;
	position: relative;
	justify-content: center;
	animation: myfirst 5s linear;
	animation-delay: 2s;
	/*background-color: white;*/
}
@keyframes myfirst{
   0%  {left:0px; top:0px;}
  25%  {left:0px; top:20px;}
  50%  {left: 0px; top:20px;}
  75%  {left:0px; top:20px;}
  100% { left:0px; top:0px;}
}
.cloud{
	height: 130px;
	width: 220px;
	/*background-color: white;*/
	position: relative;
	top: -160px;
	left: 25px;
}
.cloud2{
	height: 130px;
	width: 220px;
	/*background-color: white;*/
	position: relative;
	top: -400px;
	left: 470px;
}
/*.text{
	width: 440px;
	height: 110px;
	position: relative;
	margin-bottom: 500px;
	top: -365px;
	text-align: center;
	font-family: myfont;
	font-size: 100px;
	margin-left: 130px;
    box-shadow: 0 0 20px rgba(100,100,100,10000);
	background-color: white;
}
.text p{
	top: -3px;
}*/
.text2{
	width: 440px;
	height: 110px;
	position: relative;
	top: -365px;
	text-align: center;
	font-family: myfont;
	font-size: 100px;
	margin-left: 165px;
    box-shadow: 0 0 20px rgba(100,100,100,10000);
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.Birthday{
	position: relative;
	top: -10px;
	color: white;
}
/*.Happy{
	position: relative;
	top: -20px;
	background-color: #fffdd0;
}*/
.ballon .img1 img{
	position: re
}
.container{
	width: 440px;
	height: 110px;
	position: relative;
	top: 95px;
}
.card{
	width: 90%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}
.front{
	width: 440px;
	height: 110px;
	position: absolute;
	/*margin-bottom: 500px;*/
	top: -365px;
	background-color: #fffdd0;
	text-align: center;
	font-family: myfont;
	font-size: 100px;
	margin-left: 130px;
    box-shadow: 0 0 20px rgba(100,100,100,10000);
	backface-visibility: hidden;

}
.back{
	width: 100%;
	height: 100%;
	top: -365px;
	left: -100px;
	color: pink;
	background-color: grey;
	position: absolute;
/*	background-size: 100% 100%;*/
	font-family: sans-serif;
	text-align: center;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.card:hover{
	transform: rotateY(180deg);
}
body{
	/*background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);*/
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}